<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BreakTimeAlertProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BreakTimeAlertProject.Properties.Settings>
            <setting name="Minute" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Second" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Label" serializeAs="String">
                <value>Dinlen!</value>
            </setting>
            <setting name="isActive" serializeAs="String">
                <value>True</value>
            </setting>
        </BreakTimeAlertProject.Properties.Settings>
    </userSettings>
</configuration>